<ion-grid fixed="true">
  <ion-row class="ion-justify-content-center">
    <ion-col>
      <!-- <div class="ion-justify-content-center"> -->
      <form [formGroup]="loginForm" (submit)="handleLogin()">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Log in</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="form__control">
              <ion-label for="email">Email</ion-label>
              <ion-input
                formControlName="email"
                id="email"
                placeholder="Your email"
                fill="solid"
              >
              </ion-input>
            </div>

            <div class="form__control">
              <label for="password">Password</label>
              <ion-input
                id="password"
                labelPlacement="stacked"
                placeholder="Your password"
                formControlName="password"
                fill="solid"
              >
              </ion-input>
            </div>
            
            <p>
              <ion-text color="warning">{{ message }}</ion-text>
            </p>
          </ion-card-content>
          <ion-button type="submit" size='small'>Log in</ion-button>
          <!-- <ion-button type="button" (click)='handleLogOut()' size='small'>Log out</ion-button>
          <a routerLink="/register">Register</a> -->
        </ion-card>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
