<ion-grid fixed="true">
  <ion-row class="ion-justify-content-center">
    <ion-col>
      <!-- <div class="ion-justify-content-center"> -->
      <form [formGroup]="registerForm" (submit)="handleRegister()">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Register</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="form__control">
              <ion-label for="email">Email</ion-label>
              <ion-input
                id="email"
                fill="solid"
                formControlName="email"
                placeholder="Your email"
              >
              </ion-input>
            </div>

            <div class="form__control">
              <ion-label for="password">Password</ion-label>
              <ion-input
                id="password"
                fill="solid"
                placeholder="Your password"
                formControlName="password"
              >
              </ion-input>
            </div>

            <p>
              <ion-text color="warning">{{ message }}</ion-text>
            </p>
          </ion-card-content>

        <ion-button type="submit" size='small'>Register</ion-button>
      </ion-card>
    </form>
    </ion-col>
  </ion-row>
</ion-grid>
